{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% include "security/_messages.html" %}
{% block body %}
{{ super() }}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Esqueci minha senha</h1>
        <div class="well">
            <h2>Resetar Senha</h2>
            <form action="{{ url_for('security.reset_password', token=token) }}" method="POST">
                {{ reset_password_form.hidden_tag() }}
                <div>
                    {{render_field_with_errors(reset_password_form.password)}}
                </div>
                <div>
                    {{ render_field_with_errors(reset_password_form.password_confirm)}}
                </div>
                <div>
                    <button type="submit">Resetar Senha</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}