  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{home.nav_title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="icon" href="{{url_for('static',filename='home.icon')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <main id="main">
    <header class="nav-bard-show">
      <nav class="navbar logo-background">
        <div class="navbar-brand">
          <!-- <img src="{{url_for('static',filename=home.path)}}" alt="Logo" class="navbar-logo padding-sm"> -->
        </div>
        <div class="navbar-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
          <li class="navbar-item"><a id="home" href="#Home" class="navbar-link">Home</a></li>
          <li class="navbar-item"><a id="noticias" href="#Noticias" class="navbar-link">Noticias</a></li>
          <li class="navbar-item"><a id="documentos" href="#Documentos" class="navbar-link">Documentos</a></li>
          <li class="navbar-item"><a id="galeria" href="#Galeria" class="navbar-link">Galeria</a></li>
        </ul>
      </nav>
    </header>
      <div class="logo-container navbar-menu background-image" name="Home" id="Home">
        <div class="text-center logo-background">
          <div class="home-box menu_size">
            <li class="navbar-item"><a id="home-1" href="#Home" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a id="sobre-1" href="#Sobre" class="navbar-link">Sobre a LUMP</a></li>
          </div>

          <!-- Big Logo in Diamond Shape -->
          <div class="menu_size text-center" style="padding-top: 150px;">
            <div class="big-logo-container big-logo">
              <!-- <img src="{{url_for('static',filename=home.path)}}" alt="Big Logo"> -->
            </div>
          </div>

          <div class="home-box menu_size">
            <li class="navbar-item"><a id="noticias-1" href="#Noticias" class="navbar-link">Comunicação</a></li>
            <li class="navbar-item"><a id="galeria-1" href="#Galeria" class="navbar-link">Galeria</a></li>
          </div>
        </div>
      </div>
      
        <div>

          <section class="gallery-section margin-top-sm" name="Noticias" id="Noticias">
            <h2 class="text-center">Noticias - Recentes</h2>

            <!-- News Section -->
            <div id="noticiasList">
              {%for noticia in noticias%}
              <div class="card margin-top-sm">
                <h2 class="card-title">{{noticia.title}}</h2>
                <p class="date-time">Data: {{noticia.created_at.strftime('%d/%m/%Y %H:%M')}}</p>
                <p class="card-type">tipo: {{noticia.news_type}}</p>
                <button class="button margin-top-sm" id="{{noticia.id}}">Ler mais</button>
              </div>
              {%endfor%}
            </div>
          </section>
      
          <!-- Gallery Section -->
          <section class="gallery-section margin-top-sm" name="Galeria" id="Galeria">
            <h2 class="text-center">Galeria - Recentes</h2>
            
            <div class="gallery-grid" id="galeriaList">
              {%for foto in fotos%}
              <div class="gallery-item">
                <p class="text-primary text-center">{{foto.title}}</p>
                <img src="{{url_for('static',filename=foto.path)}}" alt="Gallery Image 1">
                <p class="gallery-caption">{{foto.description}}</p>
                <p class="date-time">Data: {{foto.created_at.strftime('%d/%m/%Y %H:%M')}}</p>
                <p class="text-type">tipo: {{foto.gallerie_type}}</p>
                <button class="button margin-top-sm" id="show-{{foto.id}}">Ver mais</button>
              </div>
              {%endfor%}
            </div>
          </section>
        </div>
      </div>

    </main>

    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <h3 class="footer-title">Sobre Nós</h3>
          <p>Somos uma instituição líder dedicada à excelência e inovação.</p>
        </div>
        <div class="footer-section">
          <h3 class="footer-title">Links Rápidos</h3>
          <ul>
            <li><a href="#Home" class="footer-link">Home</a></li>
            <li><a href="#Noticias" class="footer-link">Notícias</a></li>
            <li><a href="#Documentos" class="footer-link">Documentos</a></li>
            <li><a href="#Galeria" class="footer-link">Galeria</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3 class="footer-title">Contato</h3>
          <p>Email: contato@instituicao.com</p>
          <p>Telefone: +55 123 456 7890</p>
          <p>Endereço: Rua Exemplo, 123, Cidade, País</p>
        </div>
        <div class="footer-section">
          <h3 class="footer-title">Redes Sociais</h3>
          <ul>
            <li><a href="#" class="footer-link">Facebook</a></li>
            <li><a href="#" class="footer-link">Twitter</a></li>
            <li><a href="#" class="footer-link">Instagram</a></li>
            <li><a href="#" class="footer-link">LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Instituição. Todos os direitos reservados.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/script.js')}}" defer></script>
    
    <script>
      //########################################################
      //Sobre page controlls
      $("#sobre").click(() => {
        fetch("{{url_for('main_bps.sobre_page')}}").then()
        .then(responde => responde.text())
        .then(text => $("#main").html(text))
      })

      $("#ritos").click(() => {
        fetch("{{url_for('main_bps.sobre_content', sobre_type='ritos')}}").then()
        .then(responde => responde.text())
        .then(text => $("#hub").html(text))
      })

      $("#historia").click(() => {
        fetch("{{url_for('main_bps.sobre_content', sobre_type='historia')}}")
        .then(response => response.text())
        .then(text => $("#hub").html(text))
      })

      //########################################################
      //Comunicacao page controlls
      $("#noticias").click(() => {
        fetch("{{url_for('main_bps.noticias_page')}}").then()
        .then(responde => responde.text())
        .then(text => $("#main").html(text))
      })

      $("#noticias-1").click(() => {
        fetch("{{url_for('main_bps.noticias_page')}}").then()
        .then(responde => responde.text())
        .then(text => $("#main").html(text))
      })

      function load_news_hub(type_id) {
        fetch(`/noticias/hub/${type_id}`).then()
        .then(responde => responde.text())
        .then(text => $("#hub").html(text))
      }

      function load_news_content(news_id) {
        fetch(`/noticias/content/${news_id}`).then()
        .then(responde => responde.text())
        .then(text => $("#hub").html(text))
      }

      //########################################################
      //Galeria page controlls

    </script>
  </body>
  </html>