<div class="hub">
    <div class="titulo">
        <h2 class="text-center text-primary">
            {{destaque.news_type.name}}
        </h2>
    </div>
    <div class="hub-content">
        <div class="hub-filter">
            <div class="search-filter-bar">
                <input type="text" id="galeriaSearch" placeholder="Buscar Noticias..." class="search-bar">
                <select id="galeriaFilter" class="type-select">
                  <option value="">Todas</option>
                  <option value="recent">Recentes</option>
                  <option value="oldest">Antigas</option>
                </select>
              </div>
        </div>
        <div class="hub-main">
            <div class="destaque">
                <div class="gallery-item" id="{{destaque.id}}">
                    <p class="text-primary text-center">{{destaque.title}}</p>
                    <img src="{{url_for('static',filename=destaque.path)}}" alt="Gallery Image 1">
                    <p class="gallery-caption">{{destaque.description}}</p>
                    <p class="date-time">Data: {{destaque.created_at.strftime('%d/%m/%Y %H:%M')}}</p>
                    <button class="button margin-top-sm" id="show-{{destaque.id}}">Ver mais</button>
                  </div>
                  <script>
                    $("#show-{{destaque.id}}").click(() => {
                    fetch("{{url_for('main_bps.noticias_content', news_id=destaque.id)}}").then()
                    .then(response => response.text())
                    .then(text => $("#hub").html(text))
                    })
                </script>
            </div>
            <div class="gallery-grid" id="galeriaList">
                {%for noticia in noticias%}
                {%if noticia.id != destaque.id%}
                <div class="gallery-item" id="{{noticia.id}}">
                  <p class="text-primary text-center">{{noticia.title}}</p>
                  <img src="{{url_for('static',filename=noticia.path)}}" alt="Gallery Image 1">
                  <p class="gallery-caption">{{noticia.description}}</p>
                  <p class="date-time">Data: {{noticia.created_at.strftime('%d/%m/%Y %H:%M')}}</p>
                  <p style="display: none;" class="text-type">{{noticia.news_type.name}}</p>
                  <button class="button margin-top-sm" id="show-{{noticia.id}}">Ver mais</button>
                </div>
                <script>
                    $("#show-{{noticia.id}}").click(() => {
                    fetch("{{url_for('main_bps.noticias_content', news_id=noticia.id)}}").then()
                    .then(response => response.text())
                    .then(text => $("#hub").html(text))
                    })
                </script>
                {%endif%}
                {%endfor%}
              </div>
              <script>
                    // Galeria Search and Filter
                    var galeriaSearch = document.getElementById('galeriaSearch');
                    var galeriaFilter = document.getElementById('galeriaFilter');
                    var galeriaList = document.getElementById('galeriaList').getElementsByClassName('gallery-item');

                    galeriaSearch.addEventListener('input', filterGaleria);
                    galeriaFilter.addEventListener('change', filterGaleria);

                    function filterGaleria() {
                        var searchTerm = galeriaSearch.value.toLowerCase().split(" ");
                        var filterValue = galeriaFilter.value;

                        Array.from(galeriaList).forEach(function(foto) {
                        var title = foto.querySelector('.text-primary').textContent.toLowerCase();
                        var tipo = foto.querySelector('.text-type').textContent.toLowerCase();
                        var date = foto.querySelector('.date-time').textContent;

                        var content = title.concat(tipo);
                        console.log(content)

                        var matchesSearch = searchTerm.every(word => content.includes(word));
                        var matchesFilter = filterValue === "" || 
                                            (filterValue === "recent" && isRecent(date)) || 
                                            (filterValue === "oldest" && !isRecent(date));

                        if (matchesSearch && matchesFilter) {
                            foto.style.display = '';
                        } else {
                            foto.style.display = 'none';
                        }
                        });
                    }

                    // Helper function to check if a date is recent
                    function isRecent(dateString) {
                        var date = new Date(dateString.split(' ')[0].split('/').reverse().join('-'));
                        var now = new Date();
                        var diffTime = Math.abs(now - date);
                        var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                        return diffDays <= 30; // Consider recent if within the last 30 days
                    }
              </script>
        </div>
    </div>
</div>